body{
    background-color: #0d0d28;
    color:white;
    font-family:Arial;
    margin:32px;
}
h1,h2{
    color:#4da6ff;
}
/* This styles makes the boxes for each of the theories*/
.theory-box{
    background-color:#16213e;
    border:1px solid #4da6ff;
    padding:15px;
    margin-bottom:20px;
    border-radius:6px;
}
a{
    color:#00d2d3;
}
a:hover{
    color:white;
}